@import url(../bower_components/bootstrap/dist/css/bootstrap.min.css);
/* line 1, ../sass/_main.scss */
h1 {
  padding: 30px !important;
  color: #ffbb00;
}

/* line 6, ../sass/_main.scss */
body {
  background-image: url("../img/sw.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

/* line 12, ../sass/_main.scss */
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* line 17, ../sass/_main.scss */
.logo {
  display: inline-block;
  margin: 20px 15px 0 15px;
}

/* line 22, ../sass/_main.scss */
#main-logo {
  float: left;
  margin-right: 15px;
}

/* line 26, ../sass/_main.scss */
.brand-name {
  color: #fff !important;
}

/* line 29, ../sass/_main.scss */
#navbar {
  float: right;
}

/* line 32, ../sass/_main.scss */
#jquery-logo {
  width: 122px;
}

/* line 35, ../sass/_main.scss */
#bootstrap-logo {
  width: 54px;
}

/* line 38, ../sass/_main.scss */
#sass-logo {
  width: 62px;
}

/* line 41, ../sass/_main.scss */
#yeoman-logo {
  width: 75px;
}

/* line 44, ../sass/_main.scss */
#npm-logo {
  width: 70px;
}

/* line 47, ../sass/_main.scss */
#grunt-logo {
  width: 63px;
}

/* line 50, ../sass/_main.scss */
#bower-logo {
  width: 63px;
}

/* line 53, ../sass/_main.scss */
#compass-logo {
  width: 63px;
}

/* line 56, ../sass/_main.scss */
.cols-margin {
  margin-top: 42px;
}

/* line 59, ../sass/_main.scss */
.gray-text {
  color: #a5a5a5;
}

/* line 62, ../sass/_main.scss */
.docs-btn {
  background-color: #bc24d9;
  border-color: #8d1ba2;
  width: 300px;
  height: 72px;
  font-size: 26px;
  margin-top: 27px;
  line-height: 2em;
}
/* line 71, ../sass/_main.scss */
.docs-btn:hover, .docs-btn:active, .docs-btn:focus {
  background-color: #8d1ba2 !important;
  border-color: #8d1ba2 !important;
}
