@font-face {
  font-family: Starwars;
  src: local("Starwars"), url(../fonts/Starjedi.ttf);
  font-weight: bold;
}

body {
  font-family: 'Starwars';
  letter-spacing: 2px;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/starWarsVertical.jpg);
  background-position: 50% 25%;
  background-size: cover;
}

.btn-save {
  background-color: green;
  border-color: green;
}
.btn-save:focus {
  box-shadow: 0 0 0 0.2rem rgba(30, 255, 0, 0.5);
}
.btn-save:hover {
  background-color: rgb(4, 65, 4);
  border-color: rgb(4, 65, 4);
}

.btn-erase {
  background-color: red;
  border-color: red;
}
.btn-erase:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 17, 0, 0.5);
}
.btn-erase:hover {
  background-color: rgb(65, 11, 4);
  border-color: rgb(65, 11, 4);
}

#search-form {
  margin-left: 280px;
  width: 60%;
}
